*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
.clear{
    clear:both;
    }
.container{
    display: flex;
    min-height: 100vh;
    flex-direction: row-reverse;
}

/*main*/
.main{
    flex-grow: 1;
    flex-shrink: 1;
    width: 70%;
}
.slidebar {
    width: 23%;
}
.main > .inner{
    margin: 0 auto;
    width: 890px;
}
.main .inner .header{
    display: flex;
    border-bottom: solid 5px #f56a6a;
    padding: 20px 0px 20px 0px;
    position: relative;
}

.main .inner .header a{
    border-bottom: 0;
    color: inherit;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    text-decoration: none;
}
.main .inner .header p{
    text-transform: uppercase;
    color:#8c8686;
}

.main .inner .header p strong{
    color: black;
    font-weight: 600;
}
.main .inner .header p:hover{
    color: #f56a6a;
}
.main .inner .header p strong:hover{
    color: #f56a6a;
}

/*banner*/

.banner{
    padding: 70px 0px 100px;
    border-bottom: 2px solid #cecaca;
        height: 650px;
}
.banner .content{
    float: left;
    width: 50%;
    padding-bottom: 75px;
}
.banner .content header h1{
    font-size: 45px;
    text-transform: capitalize;
    color: #444343;
    font-size: 60px;
    line-height: 1.6;
    padding-bottom: 20px;
}
.banner .content header p{
    color:#8c8686;

}
.banner .content p{
    color:#8c8686;
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 40px;
    
}
.banner .content .learn{
    border: 2px solid #f56a6a;
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #f56a6a;
}
.banner .content .learn:hover{
    background-color: #f7f0f0;
}
.banner .image{
    float: left;
    width: 45%;
    margin-left: 5%;
    padding-bottom: 75px;
}
.banner .image img{
    width: 395px;
    height: 400px;
    /* margin-left: 0%; */
    border-radius: 10px;
    display: block;
}
hr{
    width: 2px;
    color:#8c8686;
}
.major{
        height: 550px;
    padding-top: 50px;
    border-bottom: 2px solid #cecaca;
}
.major header h2{
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 28px;
    width: 165px;
    padding-bottom: 15px;
    border-bottom: 3px solid #f56a6a;
    color: #312b2b;
}
.features {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.features article{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0px 0px 48px 48px;
    width: calc(50% - 50px);
}
.features article .content {
    padding-left: 30px;
}
/*
@import "compass/css3";


.features article .img1 .rhombus {
  background: #CCC;
  margin: 100px auto;
  border: 1px solid #000;
}


// create a square
.features article .img1 .step1 {
  width: 200px;
  height: 200px;
}

// sekw for desired angle
.features article .img1 .step2 {
  width: 200px;
  height: 200px;
  
  transform: skewX(45deg);
}

// scale to fix the W/H difference
.features article .img1 .step3 {
  width: 200px;
  height: 200px;
  
  transform: skewX(45deg) scaleY( cos(45deg));
}


// roate in any position before skew & scale 
.features article .img1 .step4 {
  width: 200px;
  height: 200px;
  
  margin-top: 100px;
  
  transform: rotate(67.5deg) skewX(45deg) scaleY( cos(45deg));
}
*/
.features h3{
    font-size: 21px;
    text-transform: capitalize;
    padding-bottom: 25px;
    font-weight: 600;
    color: #312b2b;
}
.features p{
    color: #8c8686;
    line-height: 1.6;
    text-transform: capitalize;
}

/*dolar*/

.dolar{
    display: flex;
    flex-wrap: wrap;
        height: 1880px;
    padding-top: 50px;
    border-bottom: 2px solid #cecaca;
}
.dolar header h2{
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 28px;
    width: 225px;
    padding-bottom: 15px;
    border-bottom: 3px solid #f56a6a;
    color: #312b2b;
        padding-top: 40px;
}
.dolar .posts{
    padding-top: 50px;
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
}
.dolar article{
    /* display: flex; */
    align-items: center;
    position: relative;
    margin: 0px 0px 48px 48px;
    width: calc(50% - 50px);
    display: inline-block;
        
}
.dolar .posts article a img{
    border-radius: 10px;
}
.dolar .posts article h3{
    font-size: 21px;
    text-transform: capitalize;
    padding-bottom: 25px;
    font-weight: 600;
    color: #312b2b;
    padding-top: 30px;
}
.dolar .posts article p{
    color: #8c8686;
    line-height: 1.6;
    text-transform: capitalize;
}
.dolar .posts article .more{
    border: 2px solid #f56a6a;
    text-transform: uppercase;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #f56a6a;
    margin-top: 30px;

}
.dolar .posts article .more:hover{
    background-color: #f7f0f0;
}

/*slide bar*/

.slidebar {
    flex-shrink: 0;
    flex-grow: 0;
    transition: margin-left 0.5s ease,
                box-shadow 0.5s ease;
    background-color: #f5f6f7;
    font-size: 14.5px;
    position: relative;
        
}

.slidebar .search{
    background-color:#eff1f2;
    padding: 20px 17px;
    margin-bottom: 45px;
}
.slidebar .search .search_input{
    width: 270px;
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 7px;
    box-shadow: none;
    border: 1px solid #ccc;
    line-height: 1.6;
}
.menu {
    margin-bottom: 40px;
}
.menu .inner{
    width:265px;
    margin: auto;
    padding-bottom: 45px;
    border-bottom: 2px solid #ccc;
}
.menu .inner header h2{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 26px;
    width: 75px;
    padding-bottom: 0px;
    border-bottom: 3px solid #f56a6a;
    color: #312b2b;
    /* padding-top: 40px; */
    margin-bottom: 40px;
}
.menu .inner ul{
    list-style: none;
}
.menu .inner ul li{
    text-transform: uppercase;
    width: 260px;
    border-bottom: 1px solid #ccc;
    /* padding-top: 5px; */
    padding: 12px 0px;
    font-size: 14px;
    font-weight: 100;
    color: #333;
}
.menu .inner ul li a{
    text-decoration: none;
    color: #333;
}
.menu .inner ul li:hover,
.menu .inner ul li a:hover{
    color: #f56a6a;
}
.menu .inner ul .amet{
    border-bottom: 0;
}

/*section*/
section{
    margin-bottom: 40px;
}
section .inner{
    width:265px;
    margin: auto;
    padding-bottom: 45px;
    border-bottom: 2px solid #ccc;
}
section .inner header h3{
    font-size: 21px;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-weight: 600;
    color: #312b2b;
    padding-top: 30px;
    width: 150px;
    border-bottom: 3px solid #f56a6a;
    margin-bottom: 40px;
}
section .inner .mini_posts article{
    margin-top: 32px;
    border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
}
section .inner .mini_posts article:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}
section .inner .mini_posts article img{
    width: 265px;
    border-radius: 5px;
        padding-bottom: 15px;
}
section .inner .mini_posts article p{
    color: #8c8686;
    line-height: 1.6;
    text-transform: capitalize;
}

section .inner .mini_posts .article3{
     border-bottom: 0;
}
section .inner .more{
    border: 2px solid #f56a6a;
    text-transform: uppercase;
    background-color: #f5f6f7;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; 
    font-weight: 600;
    color: #f56a6a;
    margin-top: 30px;
}
section .inner .more:hover{
    background-color: #f7f0f0;
}

/*another section*/
.touch .inner{
    width:265px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #ccc;
}

.touch .inner p{
    color: #8c8686;
    line-height: 1.6;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 13px;
}
.touch .inner ul{
    list-style: none;
}
.touch .inner ul li{
    width: 260px;
    border-bottom: 1px solid #ccc;
    /* padding-top: 5px; */
    padding: 20px 0px;
    font-size: 15px;
    font-weight: 100;
    color: #333;
}
.touch .inner ul li img{
    width:50px;
    display: inline-block;
}
.touch .inner ul li a{
    text-decoration: none;
    color: #8c8686;
    display: inline-block;
    
}
.touch .inner ul li .mail{
    border-bottom: 1px dotted #ccc;   
}
.touch .inner ul li .mail:hover{
    color: #f56a6a;
}
.touch .inner ul .list_3{
    border-bottom: 0;
}


/*footer*/

footer .inner{
    width:265px;
    margin: auto;
    padding-bottom: 30px;
}
footer .inner p{
    color: #8c8686;
    line-height: 1.6;
    text-transform: capitalize;
    margin-bottom: 30px;   
}
footer .inner p a{
    text-decoration: none;
    color: #8c8686;
    display: inline-block;
    border-bottom: 2px dotted #ccc;
}
footer .inner p a:hover{
    color: #f56a6a;
}